@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #1992D4;
}


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E2E8F0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* HEADER SECTION */

.header { 
  grid-area: header; 
  background-color: #FFFF;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;

}

/* TOP HEADER SECTION */

.top-header {
  display: flex;
  width: auto;
  background-color: white;
  justify-content: space-between;
  padding: 20px 5% 10px 5%;
}

.search {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.search input {
  border: none;
  background-color: #E2E8F0;
  height: 30px;
  border-radius: 12px;
  width: 75%;
}

.search svg {
  height: 1.3rem;
  width: 1.3rem;
}

.notification {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  width: auto;
  align-items: center;
}

.notification span {
  font-size: 1.1rem;
  white-space: nowrap;
  font-weight: bold;
}

.notification svg {
  height: 1.5rem;
  width: 1.5rem;
}

.notification img {
  height: 40px;
  width: auto;
  border-radius: 50%;
}

/* BOTTOM HEADER  SECTION */

.bottom-header {
  display: flex;
  width: auto;
  background-color: white;
  justify-content: space-between;
  padding: 20px 5% 10px 5%;
  align-items: center;
  box-shadow: 0 6px 2px -2px rgba(0, 0, 0, 0.1);
}

.profile {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
}

.profile p {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;

}

.profile span {
  font-size: 1rem;

}


.bottom-header .avatar {
  height: 80px;
  width: auto;
  border-radius: 50%;
}


.bottom-header .actions {
  display: flex;
  gap: 2rem;
}


.btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 32px;
  border-radius: 24px;
  margin: 0;
}



/* END HEADER SECTION */

.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'sidebar header header header header header'
    'sidebar main main main main right'
    'sidebar main main main main right'
    'sidebar main main main main right';
  grid-template-columns: 17% 60% 20%; 
}


/* SIDEBAR SECTION */

.sidebar { 
    grid-area: sidebar;
    
    height: 100vh;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
 }

 .dashboard-menu {
   display: flex;
   align-items: center;
   margin-left: 3rem;
   gap: 16px;
 }

 .dashboard-menu svg {
   height: 3rem;
 }


 
 .sidebar ul {
  text-transform: capitalize;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  margin-left: 1.3rem;
  gap: 1rem;
  align-items: start;

 }

 .sidebar ul svg {
   height: 1.5rem;
 }

 .sidebar li {
   display: flex;
   gap: 1.5rem;
 }

 .sidebar a {
   color: white;
 }

 .sidebar li:nth-last-child(+3) {
   margin-top: 3rem;
 }

 

 





